.u-section-1 {
  background-image: linear-gradient(black, #1a1a1a);
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  animation-duration: 1000ms;
  align-self: center;
  margin: 60px auto 0 129px;
  padding: 19px 54px 20px 53px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 2.25rem;
  animation-duration: 3000ms;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: -106px auto 0 786px;
  padding: 19px 34px 20px;
}

.u-section-1 .u-image-1 {
  width: 256px;
  height: 256px;
  margin: 0 auto 0 442px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  animation-duration: 1000ms;
  align-self: center;
  margin: 0 auto 0 129px;
  padding: 19px 10px 20px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -106px auto 60px 786px;
  padding: 19px 44px 20px 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 119px;
    margin-left: 117px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 598px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 342px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 117px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 598px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 36px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 459px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 232px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 36px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 459px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 15px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 300px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 142px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 15px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 362px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 225px;
    height: 225px;
    margin-top: -341px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -340px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 362px;
    margin-left: auto;
    margin-bottom: 12px;
  }
}html {}
body {
    height: 95vh;
}